:root {
  --vp-c-brand-0: #e50073;
  --vp-c-brand-1: #e50073;
  --vp-c-brand-2: #e50073;
  --vp-button-brand-border: var(--vp-c-brand-0);
  --vp-button-brand-bg: var(--vp-c-brand-0);
  --vp-button-brand-hover-border: var(--vp-c-brand-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-1);
  --vp-button-brand-active-border: var(--vp-c-brand-2);
  --vp-button-brand-active-bg: var(--vp-c-brand-2);
}

.VPFeature,
.VPSwitch,
.DocSearch-Button {
  border-color: transparent !important;
}

.DocSearch-Button-Placeholder,
.DocSearch-Input,
.DocSearch-Clear,
.DocSearch-AskAiScreen-Disclaimer {
  font-weight: 400 !important;
}

.pager-link,
.search-bar:focus-within {
  border-color: var(--vp-c-divider) !important;
}

.VPBadge {
  vertical-align: middle !important;
}

.VPContent > .VPDoc {
  padding-top: 48px;
}

.VPHomeHero .image-src {
  height: unset;
}

.DocSearch-Input {
  padding-block-start: unset;
}

.DocSearch-StreamingIndicator {
  display: none;
}

mark {
  background-color: #fcf0c5;
}

.footnotes {
  font-size: 14px !important;
}

@media (max-width: 768px) {
  header > div > div.wrapper > div > div.content {
    overflow: hidden;
  }
}
