:root {
  --vp-c-brand-0: #e5006a;
  --vp-c-brand-1: #e5006a;
  --vp-c-brand-2: #e5006a;
  --vp-button-brand-border: var(--vp-c-brand-0);
  --vp-button-brand-bg: var(--vp-c-brand-0);
  --vp-button-brand-hover-border: var(--vp-c-brand-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-1);
  --vp-button-brand-active-border: var(--vp-c-brand-2);
  --vp-button-brand-active-bg: var(--vp-c-brand-2);
}

.VPFeature,
.VPSwitch,
.DocSearch-Button,
.link {
  border-color: transparent !important;
}

.pager-link,
.search-bar:focus-within {
  border-color: var(--vp-c-divider) !important;
}

.DocSearch-Button-Keys,
.DocSearch-Help,
.DocSearch-NoResults-Prefill-List-Items p,
.DocSearch-AskAiScreen-RelatedSources,
.DocSearch-AskAiScreen-Answer-Footer,
.DocSearch-StreamingIndicator,
.DocSearch-Menu-trigger.DocSearch-Action,
.DocSearch-Action.DocSearch-StopStreaming,
.DocSearch-Divider,
.DocSearch-AskAiScreen-MessageContent-Tool.Tool--Result,
.vp-doc .header-anchor:before {
  display: none !important;
}

.DocSearch-Input,
.DocSearch-Clear,
.DocSearch-AskAiScreen-Disclaimer,
.DocSearch-Title,
.DocSearch-Modal-heading.shimmer {
  font-weight: 400 !important;
}

.DocSearch-Button-Placeholder {
  font-weight: 500 !important;
}

.DocSearch-AskAiScreen-Query {
  line-height: 28px !important;
}

.DocSearch-Input {
  padding-block-start: unset !important;
}

.DocSearch-Search-Icon {
  --icon: url(data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%27%20viewBox%3D%270%200%2024%2024%27%3E%3Cg%20fill%3D%27none%27%20stroke%3D%27black%27%20stroke%2Dlinecap%3D%27round%27%20stroke%2Dlinejoin%3D%27round%27%20stroke%2Dwidth%3D%272%27%3E%3Cpath%20d%3D%27m21%2021l%2D4%2E34%2D4%2E34%27%2F%3E%3Ccircle%20cx%3D%2711%27%20cy%3D%2711%27%20r%3D%278%27%20stroke%2Dwidth%3D%272%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E) !important;
}

.DocSearch-Search-Icon circle,
.DocSearch-Search-Icon path {
  stroke-width: 2 !important;
}

.VPBadge {
  margin: 0 0 0 2px !important;
  vertical-align: middle !important;
}

.VPContent > .VPDoc {
  padding-top: 48px !important;
}

.VPHomeHero .image-src {
  height: unset !important;
}

.DocSearch-AskAiScreen-Disclaimer {
  margin: -5px 0 0 5px !important;
}

.footnotes,
.DocSearch-AskAiScreen-Disclaimer {
  font-size: 14px !important;
}

.DocSearch-Action.DocSearch-Close,
.DocSearch-Action.DocSearch-AskAi-Return {
  background-color: transparent !important;
}

@media (max-width: 768px) {
  header > div > div.wrapper > div > div.content {
    overflow: hidden !important;
  }
}

.VPDocFooter a.pager-link,
.VPLocalNavOutlineDropdown > div.items,
.custom-block {
  border-radius: 12px;
}
